task: scoring

method: "MD"

seed: 10

device: "cuda:0"

dev_feature:
  - hyps_token_ids
dev_feature_path: 
  - "../espnet_data/alfred/dev/hyps_text.json"
dev_output_format: "../espnet_data/alfred/dev/hyps_score.json"


test_feature:
  - hyps_token_ids
test_feature_path: 
  - "../espnet_data/alfred/test/hyps_text.json"
test_output_format: "../espnet_data/alfred/test/hyps_score.json"

checkpoint_path: "result/MD/checkpoint_3.pth"
output_path: "result/MD"

# the unit of batch size is utterence
# if batch_size = m, means m*n-best hypotheses in one batch
batch_size: 3

# if you don't want to process too much data (like for debugging)
# you can set this value to a small number.
max_utt: 10
n_best: 10

dataloader:
  num_worker: 5

model:
  bert: "bert-base-chinese"