task: training

method: "MD"

seed: 10
lr: 0.00001
epoch: 2
device: "cuda:0"

train_feature:
  - hyps_token_ids
  - mlm_pll_score
train_feature_path: 
  - "../espnet_data/alfred/train/hyps_text.json"
  - "../MLM_PLL/result"

dev_feature:
  - hyps_token_ids
  - mlm_pll_score
dev_data_path: 
  - "../espnet_data/alfred/dev/hyps_text.json"
  - "../MLM_PLL/result"

output_path: "result/"

num_of_data: 99999999

dataloader:
  shuffle: False
  batch_size: 32
  num_worker: 5

model:
  bert: "bert-base-chinese"

resume: 
  start_from: 
  checkpoint_path: