/espnet_data/mine/espnet_train_data.json
/espnet_data/mine/espnet_dev_data.json
/espnet_data/mine/espnet_test_data.json
/espnet_data/mine/train
/espnet_data/mine/dev

/espnet_data/alfred/train_data.json
/espnet_data/alfred/dev_data.json
/espnet_data/alfred/test_data.json
/espnet_data/alfred/rescore_data.zip
/espnet_data/alfred/train
/espnet_data/alfred/dev

/MLM_PLL/preprocessed_data
/MLM_PLL/result

/RescoreBert/result

/RMBR/result

/T-brain

/src

/result

/config

/result

__pycache__