/espnet_data/origin
/espnet_data/train
/espnet_data/dev
/espnet_data/test

/espnet_data/alfred/train_data.json
/espnet_data/alfred/dev_data.json
/espnet_data/alfred/test_data.json
/espnet_data/alfred/rescore_data.zip
/espnet_data/alfred/train
/espnet_data/alfred/dev

/MLM_PLL/preprocessed_data
/MLM_PLL/result

/T-brain

/src

/result

/config

/result

__pycache__